@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #d8374d;
  --secondary-color: #ffc8c2;
  --secondary-color-100: #ffedeb;
  --accent-color: #2a80cb;
  --accent-color-100: #4594d9;

  --black-text-color: #151d1f;
  --black-text-color-100: #040505;
  --white-text-color: #f7f3f6;
  --dark-text-color: #2167a3;
  --background-main-color: #fafafa;
  --background-secondary-color: #f5f5f5;
  --background-dark-color: #151d1f;

  --white-color: #f7f3f6;
  --green-color: #3cc727;
  --green-color-100: #39bb25;
  --gray-color: #a2a9b9;
  --gray-color-100: #c5c9d3;
  --light-gray-color: #cbcfd8;
  --light-gray-color-100: #dee0e6;
  --red-color: #dc2626;
  --red-color-100: #be1818;

  --font-fam: "NotoSans", sans-serif;
  --rad: 0.5rem;

  // ALTERNATE COLORS
  // --main-color: #2167a3;
  // --secondary-color: #2a80cb;
  // --accent-color: #dda01e;

  // --black-text-color: #151d1f;
  // --white-text-color: #f7f3f6;
  // --dark-text-color: #2167a3;
  // --background-main-color: #fafafa;
  // --background-secondary-color: #f5f5f5;
  // --background-dark-color: #151d1f;
}

@font-face {
  font-family: "NotoSans";
  src: url("@/assets/fonts/NotoSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("@/assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("@/assets/fonts/NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("@/assets/fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("@/assets/fonts/NotoSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("@/assets/fonts/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-fam);
  font-weight: 300;
  color: var(--black-text-color);
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  // scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-main-color);
}

header {
  position: relative;
}

footer {
}

a {
  :visited,
  :focus,
  :active,
  :link {
    text-decoration: none;
    outline: 0;
  }
  color: currentColor;
  transition: 200ms ease-in-out;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}
#app {
  position: relative;
}
/* BUTTONS */
.btn-primary {
  display: block;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: var(--white-text-color);
  padding: 16px 30px;
  margin: 18px 0;
  cursor: pointer;
  transition: 200ms ease-in-out;
  &:hover {
    background-color: var(--secondary-color);
    scale: 1.02;
    color: var(--main-color);
    svg {
      fill: var(--main-color);
    }
  }
  &:active {
    scale: 1;
  }
  svg {
    transition: 200ms ease-in-out;
    fill: var(--white-text-color);
  }
}
.btn-secondary {
  display: block;
  width: 100%;
  border: 3px solid var(--accent-color);
  color: var(--dark-text-color);
  border-radius: 6px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  padding: 16px 30px;
  margin: 18px 0;
  cursor: pointer;
  transition: 200ms ease-in-out;

  &:hover {
    background-color: var(--accent-color);
    border: 3px solid var(--accent-color);
    color: var(--white-text-color);
    scale: 1.02;
  }
  &:active {
    scale: 1;
  }
}
//
.btn-terciary {
  background: var(--secondary-color) !important;
  border-radius: 6px;
  border: 2px solid var(--secondary-color);
  color: var(--main-color) !important;
  svg {
    transition: fill 200ms ease-in-out;
  }
  &::after {
    background: none !important;
  }
  &:hover {
    background: var(--main-color) !important;
    color: var(--white-text-color) !important;
    border-color: var(--white-text-color);
    svg {
      fill: var(--white-text-color) !important;
    }
  }
}
#btnLogin {
  background: var(--secondary-color) !important;
  border-radius: 6px;
  color: var(--main-color) !important;
  &::after {
    background: none !important;
  }
  &:hover {
    background: var(--main-color) !important;
    color: var(--white-text-color) !important;
  }
}

.btn-terciary-gray {
  background-color: var(--light-gray-color-100);
  border: none;
  border-radius: 6px;
  font-size: 1em;
  line-height: 36px;
  padding: 5px 20px;
  font-weight: bold;
  display: inline-block;
  transition: background-color 200ms ease-in-out;
  &:hover {
    background-color: var(--light-gray-color);
  }
}
.btn-terciary-small {
  border: none;
  border-radius: 6px;
  font-size: 1em;
  line-height: 36px;
  padding: 5px 20px;
  color: var(--text-color);
  font-weight: bold;
  display: inline-block;
  transition: background-color 200ms ease-in-out;
  &:hover {
    color: var(--light-gray-color);
  }
}
.btn-submit {
  display: inline-block;
  background-color: var(--accent-color) !important;
  border: none;
  border-radius: 6px;
  font-size: 1.2em;
  line-height: 36px;
  color: var(--white-text-color);
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
  margin: 15px 0;
  width: 100%;
  transition: background-color 200ms ease-in-out;
  &:hover {
    background-color: var(--accent-color-100) !important;
  }
}
.btn-submit-small {
  background-color: var(--dark-accent-color);
  border: none;
  border-radius: 6px;
  font-size: 1em;
  line-height: 36px;
  color: var(--dark-text-color);
  padding: 5px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 200ms ease-in-out;
  &:hover {
    background-color: var(--dark-accent-color-100);
  }
}

.btn-disabled {
  &:hover {
    cursor: not-allowed;
  }
}

/** STYLES FOR APPOINTMENT FORM */
.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h1 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 0;
  }
  .form-appointment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 30px 20px;
  }
  .appointment-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    position: relative;
    .user-contact-info {
      margin-bottom: 20px;
    }
    .fields-container {
      display: inline-block;
      width: 100%;
      /** INPUT STYLE */
      .inputBox {
        position: relative;
        width: 300px;
        margin: 0.8em 0;
        display: flex;
        align-items: center;
        width: 100%;
        border: 2px solid var(--light-gray-color);
        border-radius: 6px;

        input {
          background: var(--background-main-color);
          display: block;
          padding: 15px;
          font-size: 1em;
          line-height: 30px;
          width: 100%;
          border: none;
          border-radius: 6px;
          &:focus {
            outline: none;
          }
          &:valid ~ span,
          &:focus ~ span {
            color: var(--accent-color);
            transform: translateX(2px) translateY(-29px);
            font-size: 0.9em;
            padding: 0 10px;
            background: var(--background-main-color);
            border-left: 1px solid var(--accent-color);
            border-right: 1px solid var(--accent-color);
            font-weight: 600;
          }
        }
        span {
          position: absolute;
          left: 10px;
          padding: 10px;
          pointer-events: none;
          font-size: 1em;
          color: var(--black-text-color);
          transition: color 0.5s ease-in-out, transform 0.5s ease-in-out,
            background 0.5s ease-in-out, border 0.5s ease-in-out,
            font-size 0.5s ease-in-out;
        }
        div {
          margin-right: 10px;
        }
      }
    }
    .pets {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 20px;

      .pet-info {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .ul-service-option {
          position: relative;
          clear: both;
          width: 100%;
          height: 0px;
          overflow: hidden;
          transition: height 0.4s ease;
          .service-option {
            border-top: 1px solid var(--light-gray-color);
            &:hover {
              font-weight: bold;
            }
            label {
              display: block;
              padding: 20px;
            }
          }
        }
      }
      .breed-select {
        position: relative;
        width: 100%;
        line-height: 20px;
        border: 2px solid var(--light-gray-color);
        border-radius: 6px;
        margin: 0.8em 0;

        label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          cursor: pointer;
          padding: 15px;
          &:hover {
            cursor: pointer;
            background: var(--light-gray-color-100);
          }
        }
        svg {
          stroke: var(--accent-color);
          width: 30px;
          height: 30px;
          margin-left: auto;
        }
        span {
          position: absolute;
          left: 10px;
          padding: 10px;
          pointer-events: none;
          font-size: 1em;
          color: var(--black-text-color);
          transition: all 0.5s ease-in-out;
        }

        .span-active {
          position: absolute;
          color: var(--accent-color);
          transform: translateX(2px) translateY(-35px);
          font-size: 0.9em;
          font-weight: 600;
          padding: 0 10px;
          background: var(--background-main-color);
          border-left: 1px solid var(--accent-color);
          border-right: 1px solid var(--accent-color);
          left: 10px;
        }
        .height-fit-content {
          height: fit-content !important;
        }
      }
    }
    .services-container {
      margin-bottom: 20px;
      h1 {
        margin-bottom: 20px;
      }
      .services {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0 20px;
        gap: 20px;
        li {
          flex-grow: 1;

          input {
            display: none;
            &:checked ~ label {
              outline: 3px solid var(--main-color);
            }
          }
          label {
            border-radius: 6px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            box-shadow: 0 0 5px var(--gray-color);
            padding: 20px;
            transition: box-shadow 200ms ease-in-out;
            &:hover {
              cursor: pointer;
              outline: 2px solid var(--main-color);
            }
            &:focus {
              outline: 2px solid var(--main-color);
              box-shadow: inset 0px 0px 5px var(--main-color);
            }
            svg {
              width: 120px;
              height: 120px;
              margin-bottom: 10px;
            }
            span {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
      .services-included {
        padding: 20px 0;
        h2 {
          text-align: left;
          font-size: 1rem;
          font-weight: 700;
          margin-bottom: 10px;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 10px;
          li {
            display: flex;
            width: 100%;
            max-width: 340px;
            svg {
              width: 20px;
              height: 20px;
              stroke: var(--green-color);
              margin-right: 5px;
            }
            span {
            }
          }
        }
      }
    }
    .appointment-schedule {
      width: 100%;
      padding: 20px 0;
      .date-schedule-container {
        border-bottom: 2px solid var(--light-gray-color);
        padding: 20px 0;
        .date-schedule {
          input {
            display: none;
          }
          .calendar-container {
            width: 100%;
            border-radius: 6px;
          }
        }
      }
      h2 {
        font-weight: 600;
        margin-top: 20px;
        font-size: 1.2rem;
      }
      .time-schedule-container {
        .time-schedule {
          ul {
            padding: 20px 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            li {
              input {
                display: none;
                &:checked ~ label {
                  background: var(--light-gray-color-100);
                  outline: 2px solid var(--light-gray-color);
                }
              }
              label {
                display: inline-block;
                box-shadow: 0 0 5px var(--gray-color);
                padding: 15px;
                border-radius: 6px;
                &:hover,
                &:focus {
                  background: var(--light-gray-color-100);
                  outline: 2px solid var(--light-gray-color);
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .comments {
      position: relative;
      width: 300px;
      margin: 10px 0;
      display: flex;
      align-items: center;
      width: 100%;
      border: 2px solid var(--light-gray-color);
      border-radius: 6px;
      textarea {
        background: inherit;
        display: block;
        padding: 15px;
        font-size: 1em;
        line-height: 30px;
        width: 100%;
        border: none;
        border-radius: 6px;
        resize: none;
        min-height: 150px;
        &:focus {
          outline: none;
          & ~ label {
            opacity: 1;
          }
        }
      }
      label {
        opacity: 0;
        background: var(--background-main-color);
        position: absolute;
        left: 12px;
        top: -10px;
        padding: 0 10px;
        font-size: 0.9em;
        color: var(--accent-color);
        transition: opacity 0.5s;
        border-left: 1px solid var(--accent-color);
        border-right: 1px solid var(--accent-color);
        font-weight: 600;
      }
    }
  }
}

/* General classes */
.error-message {
  color: var(--red-color);
  font-size: 1em;
  margin: 8px 0;
  display: block;
  position: relative;
}
.toggle-display-none {
  display: none !important;
}
.toggle-display-visible {
  display: visible !important;
}
.form-cita {
  max-width: 320px;
}
.submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.form-divisor {
  border-bottom: 1px solid var(--light-gray-color-100);
  margin: 20px 16px;
  height: 1px;
  width: 100%;
}
/********************/

/** IMAGE SLIDERS */
.img-sliders {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-slider-size {
  height: 100%;
  background-color: #212121;
  overflow: hidden;
}
/* ANIMATIONS */
.animated-loading-text {
  color: var(--black-text-color);
  animation: color-pulse 800ms linear infinite;
}

@keyframes color-pulse {
  0% {
    color: var(--black-text-color-100);
    scale: 1;
  }
  60% {
  } /* Slightly darker gray during pulse */
  100% {
    scale: 1.01;
    color: var(--black-text-color);
  }
}

// TODO - check classes and refactor

.btnBorrarMascota {
  position: relative;
  align-self: center;
  width: 280px;
  margin: 20px 0;
  background-color: #e4e6eb;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  padding: 10px 20px;
  color: #4b4f56;
  font-weight: bold;
  display: inline-block;
  border: 1px solid;
  &:hover {
    background-color: #c5c6ca;
    color: rgba(0, 0, 0, 0.5);
  }
}
/** CITAS SUBHEADER */
.subHeader-container {
  position: relative;
  width: 100%;
  padding-top: 1em;
}
.div-buscador {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em 0;
}
.buscador {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  input,
  button {
    height: 3rem;
    font-size: 1.2rem;
    /* border: 2px solid var(--color-dark); */
  }
  input[type="search"] {
    outline: none;
    width: 70%;
    padding: 10px 1.2rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all 0.2s var(--bez);
    transition-property: width, border-radius;
    position: relative;
  }
  button {
    display: none;
    background: #57bd84;
    border-radius: 0 var(--rad) var(--rad) 0;
    padding: 0 10px;
  }
  input:not(:placeholder-shown) ~ button {
    border-radius: 0 var(--rad) var(--rad) 0;
    border-left: none;
    display: block;
    position: relative;
  }
  input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    display: block;
    position: relative;
    width: 70%;
  }
}
#search::-webkit-search-cancel-button {
  position: relative;
  right: -10px;
}
.subHeader-div-btn {
  display: flex;
  justify-content: space-evenly;
}
.subHeader-btn {
  width: 100px;
  height: 40px;
}

//
//
//
//

@media screen and (min-width: 768px) {
  .btn-primary {
    width: fit-content;
  }
  .btn-secondary {
    width: fit-content;
  }
  .form-cita {
    max-width: 400px;
  }
  .form-appointment {
    max-width: 800px;
  }
  .appointment-schedule {
    padding-bottom: 20px;
    .date-schedule-container {
      width: 40%;
      border: none !important;
    }
  }
  /** IMAGE SLIDERS */
  .img-sliders {
    height: 550px;
    object-fit: cover;
    object-position: 50% 35%;
  }
  .img-slider-size {
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
}
